<style>
  table.csat-history {
    border: 1px solid #888;
  }
  table.csat-history td {
    border: 1px solid #888;
    font-weight: bold;
    color: #333;
  }
  .delivered-as-promised.zero, .delivered-on-time.zero, .satisfaction.one {
    background-color: red;
  }
  .delivered-as-promised.one, .delivered-on-time.one, .satisfaction.three {
    background-color: lightgreen;
  }
  .satisfaction.two {
    background-color: orange;
  }
</style>
<h2>CSAT</h2>
<div class="box tabular">
  <fieldset>
    <legend>
      Configuration
    </legend>
    <% if @csat_config.id %>
      <% submission_method = 'PUT' %>
    <% else %>
      <% submission_method = 'POST' %>
    <% end %>
    <%= form_tag("/csat_configs/#{@csat_config.id}", method: submission_method) do %>
      <input type="hidden" value="<%= @project.id %>" name="csat_config[project_id]">
      <p>
        <label>Custom email message</label>
        <% csat_message = @csat_config.message.blank? ? CsatConfig.default_message : @csat_config.message %>
        <textarea name="csat_config[message]"><%= csat_message %></textarea>
      </p>
      <p>
        <label>Frequency</label>
        <select name="csat_config[frequency]">
          <% ['manual', 'daily', 'weekly', 'monthly'].each do | f | %>
            <% if f == @csat_config.frequency %>
              <option value="<%= f %>" selected="selected"><%= f %></option>
            <% else %>
              <option value="<%= f %>"><%= f %></option>
            <% end %>
          <% end %>
        </select>
      </p>
      <p>
        <label>To</label>
        <input type="email" name="csat_config[to_email]" value="<%= @csat_config.to_email %>" placeholder="Receiver email"/>
      </p>
      <p>
        <input type="submit" value="Submit"/>
      </p>
    <% end %>
    <% if @csat_config.id %>
    <hr>
      <%= form_tag("/csat_configs/#{@csat_config.id}/trigger", method: 'put') do %>
        <p>
          <label> Manually trigger email </label>

          <input type="submit" value="Trigger Email"/>
        </p>
      <% end %>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>
      Submissions
    </legend>
    <table class="csat-history">
      <thead>
        <th>Delivered as promised</th>
        <th>Delivered on time</th>
        <th>Customer Satisfaction</th>
        <th>Submitted on</th>
      </thead>
      <tbody>
        <% classes = {'0' => 'zero', '1' => 'one', '2' => 'two', '3' => 'three'} %>
        <% @csats.each do | csat | %>
          <tr>
            <td class="delivered-as-promised <%= classes[csat.survey.delivered_as_promised.to_s] %>"><%= csat.survey.delivered_as_promised %></td>
            <td class="delivered-on-time <%= classes[csat.survey.delivered_on_time.to_s] %>"><%= csat.survey.delivered_on_time %></td>
            <td class="satisfaction <%= classes[csat.survey.satisfaction.to_s] %>"><%= csat.survey.satisfaction %></td>
            <td class="submitted-on"><%= csat.created_at.strftime('%b %d, %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
</div>
